<a href="https://colab.research.google.com/github/ErigiVaishnavi/Revisiting_Python/blob/main/Assign_1_2023_20BCS044.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question-1
### **Implement different string methods and demonstrate implementation in Google Colab Notebook using Python.**
**bold text**

**Strings:** In python strings are Surrounded by Single or Double Quotations marks('', "") and immutable.

In [35]:
print("Strings are Immutable")
str1="Strings are non-changeable"
print(str1)
#for multiline string 
str2="""\nStrings are sorrounded by single,
or double quotation marks,
example ('',"")."""
print(str2)
print("\n")
#String Cancatination or a combination
print("String Cancatination:", str2+" " +str1)

Strings are Immutable
Strings are non-changeable

Strings are sorrounded by single,
or double quotation marks,
example ('',"").


String Cancatination:
Strings are sorrounded by single,
or double quotation marks,
example ('',""). Strings are non-changeable

In [36]:
#Slicing string
print(str1[0:7])
print(str1[8:11])
print(str1[12:])
print(str1[:])
print('length of the str1 is:',len(str1), "\nlength of the str2 is:", len(str2))

Strings
are
non-changeable
Strings are non-changeable
length of the str1 is: 26
length of the str2 is: 78

In [37]:
#if statement
if 'non-changeable' in str1:
  print("yes strings are Immutable")
else:
  print("no")

yes strings are Immutable

In [38]:
#Modification of strings(representation)
print("Printing the string elements in upper case form:\n",str1.upper())   # upper case
print("\nprinting the string elements in lower case form:\n",str1.lower())   # lower case
print(str1.strip())   #Remove whitespace 
#replace values in string
print("\nReplace the element non-changeable to immutable in str1:\n",str1.replace('non-changeable','immutable') )  
print("\n1st letter(element in str1) capital in capital form:\n",str1.capitalize())  #1st letter capital
print(str1.casefold())  #same as lower case
print("\nSwap the lower case letters to upper case, and upper to lower case letters:\n",str1.swapcase())  
print("\ncounting the letter in str1:",str1.count("n")) #counting n element how many times repeated in str1

Printing the string elements in upper case form:
 STRINGS ARE NON-CHANGEABLE

printing the string elements in lower case form:
 strings are non-changeable
Strings are non-changeable

Replace the element non-changeable to immutable in str1:
 Strings are immutable

1st letter(element in str1) capital in capital form:
 Strings are non-changeable
strings are non-changeable

Swap the lower case letters to upper case, and upper to lower case letters:
 sTRINGS ARE NON-CHANGEABLE

counting the letter in str1: 4

In [39]:
#_.formate()
str3 = "Strings are sorrounded by single or double quotation marks and {}"
print(str3.format(str1))

Strings are sorrounded by single or double quotation marks and Strings are non-changeable

# Question-2
### **Demonstrate the implementation of List methods and List Comprehension with examples in Google Colab Notebook using Python.**

**List:** is mutable. it is created using square brackets[]

it is used to store multiple items in sigle variable

In [40]:
#Creating the List
list1=[23,'vaish',2.3, True]
list2=["List","items","are", "ordered","Cheangeable"]
print("printing the created List:",list1)
print("Type of the Variable created:",type(list1))
#Length of the List
print("Length of the list:", len(list1))
#List Indexing and slicing
print(list2[0])
print(list2[1:3])
print(list2[:4])
#Cheanging the items in list
list1.append(32)
print("List1 after appending:\n",list1)
list1.insert(1,52)   #list1.insert(position, value)
print("List1 after insterting item:\n",list1)
#adding list1 to list2 for extending the list
list2.extend(list1)
print("List after extending:\n", list2)
list1.remove(True)
print("list after removing true:", list1)
list1.clear()
print(list1)
del list2
#print(list2)    it will show error because the list was deleted

printing the created List: [23, 'vaish', 2.3, True]
Type of the Variable created: <class 'list'>
Length of the list: 4
List
['items', 'are']
['List', 'items', 'are', 'ordered']
List1 after appending:
 [23, 'vaish', 2.3, True, 32]
List1 after insterting item:
 [23, 52, 'vaish', 2.3, True, 32]
List after extending:
 ['List', 'items', 'are', 'ordered', 'Cheangeable', 23, 52, 'vaish', 2.3, True, 32]
list after removing true: [23, 52, 'vaish', 2.3, 32]
[]

In [41]:
list1=[23,'vaish',2.3, True]
for i in list1:
  print(i)
print("\n")
#to print list unsing index we will use another way
for i in range(len(list1)):
  print(list1[i])

23
vaish
2.3
True


23
vaish
2.3
True

In [42]:
#List Comprehension
  #create a new list
list3=[1,5,6,9]
cube=[i**3 for i in list3] #with comprehension
print(cube)
#without comprehension
cube=[]
for i in list3:
  cube.append(i**3)
print(cube)

[1, 125, 216, 729]
[1, 125, 216, 729]

In [43]:
list4=[4,2,7,5,8,56,43]
print("created list4:",list4)
list4.sort()
print("list in ascending order:",list4)
list4.sort(reverse=True)
print("list in descending order:",list4)

created list4: [4, 2, 7, 5, 8, 56, 43]
list in ascending order: [2, 4, 5, 7, 8, 43, 56]
list in descending order: [56, 43, 8, 7, 5, 4, 2]

# Question-3
### **Demonstrate the implementation of Tuple methods in Google Colab Notebook using Python. Also, demonstrate how they are different from Python List.**

**Tuple:** Immutable(non-changeable) and are in round Brackets(), the tuple items are ordered.

In [44]:
#tuple
tuple1=(3,6,4,21,)
tuple2=("tupples","are Unchangeable","allows", "duplicate values")
print("Tuple in integer formate:",tuple1)
#lengthe of the tuple
print("Lengthe of the tuple1:",len(tuple1),"\nLength of the tuple2:",len(tuple2))
#empty tuple
empty_tuple=()
print("print empty tuple:",empty_tuple)
print("type of tuple1:",type(tuple1),"\ntype of tuple2:",type(tuple2))
tuple1.count(21)
print(tuple1[:3])
"""In list we can achange the elements but in tupples we canot change the elements but  the indexing, slicing and looping will be same way in tuple and list"""
print("Differentiate tuple from python list")
list_from_tuple1 = list(tuple1)
list_from_tuple1.append(9)
print("List from tuple:",list_from_tuple1)
tuple_aft_append = tuple(list_from_tuple1)
print("Tuple after appending 9",tuple_aft_append)

Tuple in integer formate: (3, 6, 4, 21)
Lengthe of the tuple1: 4
Length of the tuple2: 4
print empty tuple: ()
type of tuple1: <class 'tuple'>
type of tuple2: <class 'tuple'>
(3, 6, 4)
Differentiate tuple from python list
List from tuple: [3, 6, 4, 21, 9]
Tuple after appending 9 (3, 6, 4, 21, 9)

# Question-4
### **Implement different Dictionary methods for Nested Dictionaries in Google Colab Notebook using Python.**

**Dictionary:**  is a collection of key pairs to the values. it is like pairing of key-values, and represented in curly brackets{}

In [45]:
#dictionary
data1={"String":'Immutable',
      "List":'Mutable',
      "Tuple":'Immutable'}
print("Created Dictionary:\n",data1)
print(data1["List"])
print("data type:",type(data1))
print("print Values:",data1.values())
print("print keys",data1.keys())
print(data1.get("String"))
print(data1.copy())
data1["Tuple"]= 'Unchangeable'
print("print the data after changing the value of tuple key:",data1)
print("print the data items:",data1.items())
data1.pop("Tuple")
print("after removing the tuple using pop:",data1)
data1.clear()
print(data1)

Created Dictionary:
 {'String': 'Immutable', 'List': 'Mutable', 'Tuple': 'Immutable'}
Mutable
data type: <class 'dict'>
print Values: dict_values(['Immutable', 'Mutable', 'Immutable'])
print keys dict_keys(['String', 'List', 'Tuple'])
Immutable
{'String': 'Immutable', 'List': 'Mutable', 'Tuple': 'Immutable'}
print the data after changing the value of tuple key: {'String': 'Immutable', 'List': 'Mutable', 'Tuple': 'Unchangeable'}
print the data items: dict_items([('String', 'Immutable'), ('List', 'Mutable'), ('Tuple', 'Unchangeable')])
after removing the tuple using pop: {'String': 'Immutable', 'List': 'Mutable'}
{}

In [46]:
#Nested Dictionary
Data2= {
    "e1": {"name" : "John",
           "age" : 20,
           "salary" :213823.2},
    "e2": {"name" : "Yeshaiah",
           "age" : 23,
           "salary" :34354.5},
    "e3":{"name" : "Ribkha",
           "age" : 21,
           "salary" :223423.2}
    
    }
print(Data2)
for i in Data2:
  print(i)
print()

for i in Data2.values():
  print("print Values:\n",i)
print()

for i, j in Data2.items():
  print("Get both keys and values:\n",i, ":", j)

{'e1': {'name': 'John', 'age': 20, 'salary': 213823.2}, 'e2': {'name': 'Yeshaiah', 'age': 23, 'salary': 34354.5}, 'e3': {'name': 'Ribkha', 'age': 21, 'salary': 223423.2}}
e1
e2
e3

print Values:
 {'name': 'John', 'age': 20, 'salary': 213823.2}
print Values:
 {'name': 'Yeshaiah', 'age': 23, 'salary': 34354.5}
print Values:
 {'name': 'Ribkha', 'age': 21, 'salary': 223423.2}

Get both keys and values:
 e1 : {'name': 'John', 'age': 20, 'salary': 213823.2}
Get both keys and values:
 e2 : {'name': 'Yeshaiah', 'age': 23, 'salary': 34354.5}
Get both keys and values:
 e3 : {'name': 'Ribkha', 'age': 21, 'salary': 223423.2}

# Question-5
### **Write a python program to read the CSV file and display its contents row-wise in Google Colab Notebook using Python.**

In [47]:
import csv

filename = '/content/sampleData - Sheet1.csv'

# initializing the titles and rows list
clmn = []
rows = []

with open(filename, 'r') as csvfile:    # reading csv file
  csvreader = csv.reader(csvfile)     	# creating a csv reader object
	

  clmn = next(csvreader)    	# extracting column names through first row

  for row in csvreader:       	# extracting each data row-wise
	  rows.append(row)

print("Total number of rows: %d"%(csvreader.line_num))
print('column names are:' + ', '.join(column for column in clmn))

# printing first 6 rows
print('\nFirst 6 rows are:\n')
for row in rows[:6]:
	# parsing each column of a row
	for col in row:
		print("%10s"%col,end=" "),
	print('\n')

Total number of rows: 8
column names are:Jobs, Salary range

First 6 rows are:

Software Engineer ₹449k - ₹3m

Senior Software Engineer ₹795k - ₹4m

Software Developer ₹211k - ₹987k

Data Scientist       256k

Applications Engineer ₹713k - ₹3m

Technical Support Engineer ₹275k - ₹1m

# Question-6
### **Write a Python program to write to the CSV file and read the written contents row-wise in Google Colab Notebook using Python.**

In [48]:
# importing the csv module
import csv

# field names
fields = ['Jobs', 'Salary range', 'Average']

# data rows of csv file
rows = [ ["Software Engineer", "₹449k - ₹3m", "₹1,592,782"],
		["Senior Software Engineer", "₹795k - ₹4m", "₹1,973,972"],
		["Software Developer", "₹211k - ₹987k", "₹494,459"],
		["Data Scientist", "₹256k - ₹2m", "₹775,129"],
		["Applications Engineer", "₹713k - ₹3m", "₹1,554,732"],
		["Technical Support Engineer", "₹275k - ₹1m", "₹615,228"],
    ["Technical Program Manager (TPM)","₹922k - ₹3m (Estimated*)","₹2,125,830"]]

filename = 'Average_salary_for_GoogleEmployees.csv'
with open(filename, 'w') as csvfile:   # w for write
	csvwriter = csv.writer(csvfile)
	csvwriter.writerow(fields)  #writing fields
	csvwriter.writerows(rows)   #writing data rows

In [49]:
filename = 'Average_salary_for_GoogleEmployees.csv'
fields = []
rows = []

with open(filename, 'r') as csvfile:
	csvreader = csv.reader(csvfile)
	fields = next(csvreader)
 
	for row in csvreader:
		rows.append(row)
	print("Total no. of rows: %d" %(csvreader.line_num))  #print total number of rows
print('Field names are:' + ', '.join(field for field in fields)) # print the field names
print('\nFirst 7 rows:')
for row in rows[:7]:
	for col in row:
		print("%10s"%col),
	print('\n')

Total no. of rows: 8
Field names are:Jobs, Salary range, Average

First 7 rows:
Software Engineer
₹449k - ₹3m
₹1,592,782


Senior Software Engineer
₹795k - ₹4m
₹1,973,972


Software Developer
₹211k - ₹987k
  ₹494,459


Data Scientist
₹256k - ₹2m
  ₹775,129


Applications Engineer
₹713k - ₹3m
₹1,554,732


Technical Support Engineer
₹275k - ₹1m
  ₹615,228


Technical Program Manager (TPM)
₹922k - ₹3m (Estimated*)
₹2,125,830